
/* .h1, h1 {
    text-align: center !important;
  }
  
  .h4, h4 {
    font-size: 1.3rem !important;
  } */
  
  .card-text:last-child {
    color: dimgray !important;
  }
  
  /* a {
    color: darkgray !important;
  } */
  
  .card-title {
    text-align: center;
  }
  
  .card:first-child {
    border-radius: 20px 20px 20px 20px !important;
    border-left-color: white !important;
    border-right-color: white !important;
    border-bottom-color: white !important;
    font-family: "Open Sans", sans-serif;
  }

  .img-fluid {
    max-width: 100% !important;
    height: 0.1% !important;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 30px;
  color: rgb(75, 74, 74) !important;
}

.ppp {
  text-align: justify;
  color: rgb(122, 122, 122);
  font-size: 15px !important;
}

header {
  font-family: 'Nanum Gothic', sans-serif;
}

footer {
  display: block;
  background: linear-gradient(to top, rgb(224, 224, 224), white); 
}

table {
  border-collapse: collapse;
  border-spacing: 2px;
  table-layout: auto;
}

.table-striped > tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.rounded-circle {
  max-width: 80% !important; 
  height: auto !important;
}

.doc-image {
  display: block; 
  margin: 0px auto;
  max-width: 700px;
  min-width: 200px;
}

td {
  text-align: center !important;
}

 #contact .form #sendmessage {
  color: #1dc7cd77;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: rgba(255, 0, 0, 0.445);
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
} 

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form input,
#contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.form button[type="submit"]:hover {
  background-color: #e8eeee73;
  cursor: pointer;
}

.contacttitle {
  color: rgb(49, 49, 49);
  margin-bottom: 40px;
}

.map {
  padding-left: 20px;
  margin-left: 50px;
}

.form {
  margin: auto;
  padding-right: 50px;
  margin-right: 50px;
}
/* 미디어쿼리 */

/* map & contact */
@media (min-width: 481px) and (max-width: 767px) {
  .map {
    margin: auto;
  }
  .form {
    padding-left: 40px;
  }
  .contactdiv {
    padding-top: 50px;
  }
  .contacttitle {
    text-align: center;
  }
}

/* storage */
@media (min-width: 481px) and (max-width: 767px) {
  .label-group .title {
    padding-left: 120px;
  }
  .infoooo {
    display: none;
  }
  .icon_close {
    display: none;
  }
}

