
/* .h1, h1 {
    text-align: center !important;
  }
  
  .h4, h4 {
    font-size: 1.3rem !important;
  } */
  
  .card-text:last-child {
    color: dimgray !important;
  }
  
  /* a {
    color: darkgray !important;
  } */
  
  .card-title {
    text-align: center;
  }
  
  .card:first-child {
    border-radius: 20px 20px 20px 20px !important;
    border-left-color: white !important;
    border-right-color: white !important;
    border-bottom-color: white !important;
    font-family: "Open Sans", sans-serif;
  }

  .img-fluid {
    max-width: 100% !important;
    height: 0.1% !important;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 30px;
  color: rgb(75, 74, 74) !important;
}

.ppp {
  color: rgb(122, 122, 122);
}

header {
  font-family: 'Nanum Gothic', sans-serif;
}

footer {
  display: block;
  background: linear-gradient(to top, rgb(224, 224, 224), white); 
}

table {
  border-collapse: collapse;
  border-spacing: 2px;
}

.table-striped > tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
