<!doctype html>
  <!--  Footer -->
  <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3"> <small>© 2019 Copyright:  이 사이트는 현재 프로젝트용으로 제작중입니다.
          <a href="#" class="text-nowrap"> https://github.com/teamCafeLatte/Web </a> </small>
      </div>
  </footer>
  </body>
</html>
