<!DOCTYPE html>

    <script language="javascript">
      function validate() {
         let item = document.getElementById("docid").value;
         if (item == '') {
           alert("상품번호가 입력되지 않았습니다, 꼭 입력하세요");
           return false;
         }
         return true;
      }

      $(document).ready(function() {
        bsCustomFileInput.init();
      })
    </script>

    <p>
    <div class="container">  <!-- container class 가 페이지의 컨텐츠영역을 지정 -->
    <div class="jumbotron" style="width:800px; margin:auto">

    <div class="bm-login-form" style='width:700px; margin-left:auto; margin-right:auto; border:1px'>

      <div class="starter-template">
        <h4> 등록</h4> <hr>
      </div>

   <form name=join onsubmit="return validate()" method=post action="/adminprod/product" enctype="multipart/form-data">
       <div class="form-group">
         <label for="exampleInputEmail1">상품번호</label>
         <input type="text" required class="form-control" name="docid" id="docid" aria-describedby="emailHelp" placeholder="예) P0009">
         필수항목, 최대6자리, 중복금지, 예) P0009
       </div>
    <div class="form-row">
      <div class="form-group col-md-6">
       <div class="form-group">
         <label for="exampleInputPassword1">상품명</label>
         <input type="text" class="form-control" name="docpw" id="docpw" placeholder="최대20자까지 입력">
       </div>
       <div class="form-group">
         <label for="exampleInputPassword2">모델명</label>
         <input type="text" class="form-control" name="uid" id="uid" placeholder="최대20자까지 입력">
       </div>
       <div class="form-group">
         <label for="exampleInputEmail1">판매형태</label>
         <input type="text" class="form-control" name="title" id="title" placeholder="일반세일, 이벤트세일, 특별세일">
       </div>
     </div>
      <label for="exampleInputEmail1">상품이미지 (적정사이즈:250x180)</label>
      <div class="form-group">
         <input type="file" class="custom-file-input2" id="entry" width=10px aria-describedby="entry2" accept="image/*" name="photo">
      </div>
     </div>
   </div>

         <hr>
         <button type="submit" class="btn btn-primary">상품등록</button>
      </form>
     </div>
     </div>
    </div><!-- /.container -->

 <!-- Footer 영역 -->
